<!--
<STYLE TYPE="text/css">

BODY
{
    font-size: 16pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)'
    
}

A
{
    font-size: 16pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)'

}

P
{
    font-size: 14pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)';
   
}

h4
{
    font-size: 18pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)';
    
}


h3
{
    font-size: 16pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)';
   
}


td
{
    font-size: 16pt; 
    font-family: 'Times New Roman (Arabic)', 'Arial (Arabic)', 'Courier New (Arabic)';
   
}

</STYLE>
-->

