<html><head>






<!-- End Wayback Rewrite JS Include -->

   <title>side</title>
   <script language="JavaScript">
<!--
version="0";
browserName = navigator.appName;
browserVer = parseInt(navigator.appVersion);
if (browserName == "Netscape" && browserVer >= 3)
   version="n3";
if (browserName == "Microsoft Internet Explorer" && browserVer >= 3)
   version="n3";
if (version == "n3")
{
basicon = new Image (106,44);
basicon.src = "firstgo/buttons/basicon.gif";
basicoff = new Image (106,44);
basicoff.src = "firstgo/buttons/basicoff.gif";
hotelon = new Image (106,44);
hotelon.src = "firstgo/buttons/hotelon.gif";
hoteloff = new Image (106,44);
hoteloff.src = "firstgo/buttons/hoteloff.gif";
jerusalemon = new Image (106,44);
jerusalemon.src = "firstgo/buttons/jerusalemon.gif";
jerusalemoff = new Image (106,44);
jerusalemoff.src = "firstgo/buttons/jerusalemoff.gif";
eddyon = new Image (106,55);
eddyon.src = "firstgo/buttons/eddyon.gif";
eddyoff = new Image (106,55);
eddyoff.src = "firstgo/buttons/eddyoff.gif"
articleon = new Image (106,44);
articleon.src = "firstgo/buttons/articleon.gif";
articleoff = new Image (106,44);
articleoff.src = "firstgo/buttons/articleoff.gif";
contacton = new Image (106,44);
contacton.src = "firstgo/buttons/contacton.gif";
contactoff = new Image (106,44);
contactoff.src = "firstgo/buttons/contactoff.gif";
}
function img_On(imgName)
{
  if (version == "n3")
  {
    imgOn = eval(imgName + "on.src");
    document [imgName].src = imgOn;  
  }
}


function img_Off(imgName)
{
  if (version == "n3")
  {
    imgOff = eval(imgName + "off.src");
    document [imgName].src = imgOff;  
  }
}

// -->
</script>


</head>
<body link="#008000" alink="#9B0000" vlink="#C0C0C0">


<a href="/planet.edu/~walawad/view/basic.html" target="main" onmouseover="img_On('basic')" onmouseout="img_Off('basic')"><img src="/planet.edu/~walawad/view/firstgo/buttons/basicoff.gif" name="basic" width="106" height="44" alt="basic info"></a>
<a href="/planet.edu/~walawad/view/hotel-index.html" target="main" onmouseover="img_On('hotel')" onmouseout="img_Off('hotel')"><img src="/planet.edu/~walawad/view/firstgo/buttons/hoteloff.gif" name="hotel" width="106" height="44" alt="hotels"></a>
<a href="/planet.edu/~walawad/view/report-index.html" target="main" onmouseover="img_On('jerusalem')" onmouseout="img_Off('jerusalem')"><img src="/planet.edu/~walawad/view/firstgo/buttons/jerusalemoff.gif" name="jerusalem" width="106" height="44" alt="special report: Jerusalem"></a>
<a href="/planet.edu/~walawad/view/article/eddy.html" target="main" onmouseover="img_On('eddy')" onmouseout="img_Off('eddy')"><img src="/planet.edu/~walawad/view/firstgo/buttons/eddyoff.gif" name="eddy" width="106" height="55" alt="interview - EDWARD SAID: MY RIGHT OF RETURN"></a>
<a href="/planet.edu/~walawad/view/article-index.html" target="main" onmouseover="img_On('article')" onmouseout="img_Off('article')"><img src="/planet.edu/~walawad/view/firstgo/buttons/articleoff.gif" name="article" width="106" height="44" alt="articles"></a>
<a href="/planet.edu/~walawad/view/mailto:palmart@palnet.com" onmouseover="img_On('contact')" onmouseout="img_Off('contact')"><img src="/planet.edu/~walawad/view/firstgo/buttons/contactoff.gif" name="contact" width="106" height="44" alt="contact us"></a>




</body><!-- https://web.archive.org/web/20010803144536if_/http://www.planet.edu:80/~walawad/view/frame3.html --></html><!--
     FILE ARCHIVED ON 14:45:36 Aug 03, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:04:51 Feb 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
--><!--
playback timings (ms):
  captures_list: 0.612
  exclusion.robots: 0.049
  exclusion.robots.policy: 0.036
  esindex: 0.013
  cdx.remote: 13.434
  LoadShardBlock: 109.586 (3)
  PetaboxLoader3.datanode: 134.182 (4)
  load_resource: 116.11
  PetaboxLoader3.resolve: 62.905
-->